In [1]:
import pandas as pd
import isodate

In [2]:
df = pd.read_json('video_relevant_data.json', orient='index')

In [3]:
df.head(5)

,id,publishedAt,tags,categoryId,duration,viewCount,likeCount,commentCount,topicCategories
KWWLwotNcTo,KWWLwotNcTo,2022-02-23T03:30:15Z,"[bgmi, dynamogaming, alphaclasher, hydrabts, h...",24,PT13M58S,91677,24724,437,"[https://en.wikipedia.org/wiki/Food, https://e..."
PC_pAgJopIA,PC_pAgJopIA,2021-08-27T14:00:45Z,"[polymars, game dev challenge, $1000, best gam...",28,PT15M4S,546503,16851,728,[https://en.wikipedia.org/wiki/Video_game_cult...
isAFtqGHz6Y,isAFtqGHz6Y,2019-03-16T01:10:24Z,"[python telugu tutorial, python telugu, python...",27,PT27M7S,670671,15805,1951,[https://en.wikipedia.org/wiki/Knowledge]
I2wURDqiXdM,I2wURDqiXdM,2018-07-07T02:16:12Z,"[howCode, how, code, howcode.org, howco.de, py...",27,PT6M41S,610607,25114,871,[https://en.wikipedia.org/wiki/Knowledge]
qzyVMhAW9FQ,qzyVMhAW9FQ,2021-08-21T10:48:05Z,"[simplified learner, python]",27,PT1M,1076470,84993,782,[https://en.wikipedia.org/wiki/Knowledge]

In [4]:
# !pip install isodate

In [5]:
df['duration'].head(5)

KWWLwotNcTo    PT13M58S
PC_pAgJopIA     PT15M4S
isAFtqGHz6Y     PT27M7S
I2wURDqiXdM     PT6M41S
qzyVMhAW9FQ        PT1M
Name: duration, dtype: object

In [6]:
df['duration'] = df['duration'].apply(lambda x: isodate.parse_duration(x))

In [7]:
df['duration'].head()

KWWLwotNcTo   0 days 00:13:58
PC_pAgJopIA   0 days 00:15:04
isAFtqGHz6Y   0 days 00:27:07
I2wURDqiXdM   0 days 00:06:41
qzyVMhAW9FQ   0 days 00:01:00
Name: duration, dtype: timedelta64[ns]

In [8]:
df.head(2)

,id,publishedAt,tags,categoryId,duration,viewCount,likeCount,commentCount,topicCategories
KWWLwotNcTo,KWWLwotNcTo,2022-02-23T03:30:15Z,"[bgmi, dynamogaming, alphaclasher, hydrabts, h...",24,0 days 00:13:58,91677,24724,437,"[https://en.wikipedia.org/wiki/Food, https://e..."
PC_pAgJopIA,PC_pAgJopIA,2021-08-27T14:00:45Z,"[polymars, game dev challenge, $1000, best gam...",28,0 days 00:15:04,546503,16851,728,[https://en.wikipedia.org/wiki/Video_game_cult...

In [9]:
df.drop('id', axis=1, inplace=True)

In [10]:
df.head(2)

,publishedAt,tags,categoryId,duration,viewCount,likeCount,commentCount,topicCategories
KWWLwotNcTo,2022-02-23T03:30:15Z,"[bgmi, dynamogaming, alphaclasher, hydrabts, h...",24,0 days 00:13:58,91677,24724,437,"[https://en.wikipedia.org/wiki/Food, https://e..."
PC_pAgJopIA,2021-08-27T14:00:45Z,"[polymars, game dev challenge, $1000, best gam...",28,0 days 00:15:04,546503,16851,728,[https://en.wikipedia.org/wiki/Video_game_cult...

In [11]:
df['publishedAt'].dtype

dtype('O')

In [12]:
df['publishedAt'] = pd.to_datetime(df['publishedAt'])

In [13]:
df['publishedAt'].dtype

datetime64[ns, UTC]

In [14]:
df.head(2)

,publishedAt,tags,categoryId,duration,viewCount,likeCount,commentCount,topicCategories
KWWLwotNcTo,2022-02-23 03:30:15+00:00,"[bgmi, dynamogaming, alphaclasher, hydrabts, h...",24,0 days 00:13:58,91677,24724,437,"[https://en.wikipedia.org/wiki/Food, https://e..."
PC_pAgJopIA,2021-08-27 14:00:45+00:00,"[polymars, game dev challenge, $1000, best gam...",28,0 days 00:15:04,546503,16851,728,[https://en.wikipedia.org/wiki/Video_game_cult...

In [15]:
all_tags = df['tags'].apply(lambda x: ",".join(x)).to_list()

In [16]:
all_tags = list(set(",".join(df['tags'].apply(lambda x: ",".join(x)).to_list()).split(",")))

In [17]:
len(all_tags)

518

In [18]:
print(all_tags[0:20])

['study', 'python for everyone', 'hollywood classics full movies', '8bitmercy', 'python class 10 cbse', '8bitgoldy', 'APPLICATIONS', 'Feeding a Reticulated Python', 'c++', 'ethical hacking', 'science', 'nat geo', 'best python tutorial in malayalam', 'rabbit', 'What is Python With Full Information in Hindi?', 'computer programming language', 'python for everybody', 'python tamil book', 'learn python basics', 'hydrawrath']

In [19]:
df.shape

(42, 8)

In [20]:
for tag in all_tags:
    df[tag] = df['tags'].apply(lambda x: tag in x).map(int)

In [21]:
df.shape

(42, 526)

In [22]:
df.head(1)

,publishedAt,tags,categoryId,duration,viewCount,likeCount,commentCount,topicCategories,study,python for everyone,...,python expert,python in tamil,python programming pdf,why learn python programming language,discover,Reticulated Python,tuto python,hydraemperorgaming,two birds one stone,python mastery
KWWLwotNcTo,2022-02-23 03:30:15+00:00,"[bgmi, dynamogaming, alphaclasher, hydrabts, h...",24,0 days 00:13:58,91677,24724,437,"[https://en.wikipedia.org/wiki/Food, https://e...",0,0,...,0,0,0,0,0,0,0,1,0,0

---

In [36]:
df.iloc[:, 8:].sum().sort_values(ascending=False)

python                           18
python tutorial                  17
learn python                     16
python tutorial for beginners    12
python course                    11
                                 ..
master of zoology                 1
comment installer python          1
advance python                    1
data science                      1
python mastery                    1
Length: 518, dtype: int64

In [42]:
# df.iloc[:, 8:].sum().sort_values(ascending=True)[0:50]

In [51]:
df.groupby('python')['duration'].sum()

python
0   1 days 22:06:32
1   3 days 03:57:42
Name: duration, dtype: timedelta64[ns]

In [62]:
df[df['python'] == 1]['duration'].sum()

Timedelta('3 days 03:57:42')

In [80]:
tag_vs_duration = {}
for column in df.iloc[:, 8:]:
    # print(column)
    average_duration = df[df[column] == 1]['duration'].sum()/len(df[df[column] == 1])
    total_duration_for_tag = df[df[column] == 1]['duration'].sum()
    tag_vs_duration[column] = [average_duration, total_duration_for_tag]

tag_vs_duration_df = pd.DataFrame.from_dict(tag_vs_duration, orient='index', columns=['avg_duration', 'total_duration'])

In [82]:
tag_vs_duration_df.sort_values(by='avg_duration', ascending=False)

                                 avg_duration  total_duration
dr. chuck                     0 days 13:40:10 0 days 13:40:10
python tutorial 2019          0 days 13:40:10 0 days 13:40:10
py4e                          0 days 13:40:10 0 days 13:40:10
u of m                        0 days 13:40:10 0 days 13:40:10
dr chuck                      0 days 13:40:10 0 days 13:40:10
...                                       ...             ...
online courses                0 days 00:03:20 0 days 00:03:20
thesis                        0 days 00:03:20 0 days 00:03:20
health                        0 days 00:03:20 0 days 00:03:20
bachelor degree accreditation 0 days 00:03:20 0 days 00:03:20
simplified learner            0 days 00:01:00 0 days 00:01:00

[518 rows x 2 columns]

In [86]:
tag_vs_duration_df[tag_vs_duration_df['total_duration'] == tag_vs_duration_df['total_duration'].max()]

                             avg_duration  total_duration
python tutorial 0 days 05:03:53.235294117 3 days 14:06:05

In [87]:
tag_vs_duration_df[tag_vs_duration_df['total_duration'] == tag_vs_duration_df['total_duration'].min()]

                      avg_duration  total_duration
simplified learner 0 days 00:01:00 0 days 00:01:00

In [88]:
tag_vs_duration_df[tag_vs_duration_df['avg_duration'] == tag_vs_duration_df['avg_duration'].min()]

                      avg_duration  total_duration
simplified learner 0 days 00:01:00 0 days 00:01:00

In [89]:
tag_vs_duration_df[tag_vs_duration_df['avg_duration'] == tag_vs_duration_df['avg_duration'].max()]

                          avg_duration  total_duration
py4e                   0 days 13:40:10 0 days 13:40:10
dr. chuck              0 days 13:40:10 0 days 13:40:10
university of michigan 0 days 13:40:10 0 days 13:40:10
charles severance      0 days 13:40:10 0 days 13:40:10
python tutorial 2019   0 days 13:40:10 0 days 13:40:10
dr chuck               0 days 13:40:10 0 days 13:40:10
u of m                 0 days 13:40:10 0 days 13:40:10

---

In [90]:
df.head(1)

,publishedAt,tags,categoryId,duration,viewCount,likeCount,commentCount,topicCategories,study,python for everyone,...,python expert,python in tamil,python programming pdf,why learn python programming language,discover,Reticulated Python,tuto python,hydraemperorgaming,two birds one stone,python mastery
KWWLwotNcTo,2022-02-23 03:30:15+00:00,"[bgmi, dynamogaming, alphaclasher, hydrabts, h...",24,0 days 00:13:58,91677,24724,437,"[https://en.wikipedia.org/wiki/Food, https://e...",0,0,...,0,0,0,0,0,0,0,1,0,0

In [96]:
set(df['topicCategories'].apply(lambda x: ",".join(x)).to_list())

{'https://en.wikipedia.org/wiki/Business,https://en.wikipedia.org/wiki/Knowledge',
 'https://en.wikipedia.org/wiki/Entertainment,https://en.wikipedia.org/wiki/Film',
 'https://en.wikipedia.org/wiki/Entertainment,https://en.wikipedia.org/wiki/Television_program',
 'https://en.wikipedia.org/wiki/Food,https://en.wikipedia.org/wiki/Lifestyle_(sociology)',
 'https://en.wikipedia.org/wiki/Knowledge',
 'https://en.wikipedia.org/wiki/Knowledge,https://en.wikipedia.org/wiki/Technology',
 'https://en.wikipedia.org/wiki/Lifestyle_(sociology)',
 'https://en.wikipedia.org/wiki/Video_game_culture'}

In [97]:
import numpy as np
import os
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import NMF
import pandas as pd
import matplotlib.pyplot as plt

In [101]:
df["tags_str"] = df['tags'].apply(lambda x: " ".join(x))

In [102]:
vect = TfidfVectorizer(stop_words='english')
X = vect.fit_transform(df["tags_str"])

pd.DataFrame(X.toarray(), columns=vect.get_feature_names())

,10,100,1000,12,2000,2016,2018,2019,2020,2021,...,web,wild,wildlife,winner,wins,youtube,yt,zero,zoo,zoology
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.437019,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.048558,0.097115,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.165857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.101824,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.120809,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.103959,0.000000,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.262089,0.131044,0.000000,0.000000,0.000000,0.000000,0.000000,0.471932,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.000000,0.000000,0.000000,0.000000,0.240664,0.120332,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.122349,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.105285,0.000000,0.000000,0.000000
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.128363,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,0.100531,0.000000,0.000000,0.100531,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.142689,0.000000,0.000000
23,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.315773
24,0.000000,0.147066,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
27,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100977,0.000000
28,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
29,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.226598,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
32,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.166395,0.000000,...,0.153325,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
33,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.137735,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
34,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
36,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.191615,0.000000,0.000000,0.000000
37,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.117668,0.127698,0.000000,...,0.117668,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
38,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
39,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.120437,0.000000,0.000000,0.000000,0.000000
40,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
41,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [104]:
N_TOPICS = 5
nmf = NMF(n_components=N_TOPICS)
W = nmf.fit_transform(X)  # Document-topic matrix
H = nmf.components_       # Topic-term matrix

C:\Users\ayush\anaconda3\lib\site-packages\sklearn\decomposition\_nmf.py:312: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  warnings.warn(("The 'init' value, when 'init=None' and "

In [107]:
words = np.array(vect.get_feature_names())
topic_words = pd.DataFrame(np.zeros((N_TOPICS, 5)), index=[f'Topic {i + 1}' for i in range(N_TOPICS)],
                           columns=[f'Word {i + 1}' for i in range(5)]).astype(str)
for i in range(N_TOPICS):
    ix = H[i].argsort()[::-1][:5]
    topic_words.iloc[i] = words[ix]

topic_words

                     Word 1       Word 2    Word 3    Word 4       Word 5
Topic 1              python  programming  tutorial     learn       course
Topic 2  hydraemperorgaming  hydravss8ul  hydrabts  8bitthug  hydradanger
Topic 3             telusko        navin     reddy      java     tutorial
Topic 4               tamil       python      data      joes        flask
Topic 5              python        hindi  tutorial     learn      history

In [108]:
topic_mapping = {
    'Topic 1': 'python tutorial',
    'Topic 2': 'gaming',
    'Topic 3': 'general programming',
    'Topic 4': 'python programming in tamil',
    'Topic 5': 'python programming in hindi',
}

In [109]:
W = pd.DataFrame(W, columns=[f'Topic {i + 1}' for i in range(N_TOPICS)])
W['max_topic'] = W.apply(lambda x: topic_mapping.get(x.idxmax()), axis=1)
W[pd.notnull(W['max_topic'])].head(10)

,Topic 1,Topic 2,Topic 3,Topic 4,Topic 5,max_topic
0,0.000000,8.288504e-01,0.000000,0.000000,0.000000,gaming
1,0.000000,0.000000e+00,0.016524,0.000000,0.000000,general programming
2,0.250569,0.000000e+00,0.012688,0.011347,0.058377,python tutorial
3,0.056500,0.000000e+00,0.000000,0.000000,0.025655,python tutorial
4,0.056675,0.000000e+00,0.000000,0.031291,0.053477,python tutorial
5,0.446732,0.000000e+00,0.000000,0.000000,0.000000,python tutorial
6,0.461006,0.000000e+00,0.000000,0.009917,0.000000,python tutorial
7,0.000000,0.000000e+00,0.061506,0.051181,0.786041,python programming in hindi
8,0.018213,3.638708e-20,0.000000,0.116012,0.011328,python programming in tamil
9,0.220423,0.000000e+00,0.237525,0.000000,0.000000,general programming

In [114]:
W['max_topic'].isna().sum()

0

In [119]:
W['max_topic'].head(1)

0    gaming
Name: max_topic, dtype: object

In [120]:
df['topic'].head(1)

KWWLwotNcTo    NaN
Name: topic, dtype: object

In [121]:
df['topic'] = W['max_topic'].to_list()

In [122]:
W.shape

(42, 6)

In [123]:
df.head(5)

,publishedAt,tags,categoryId,duration,viewCount,likeCount,commentCount,topicCategories,study,python for everyone,...,python programming pdf,why learn python programming language,discover,Reticulated Python,tuto python,hydraemperorgaming,two birds one stone,python mastery,tags_str,topic
KWWLwotNcTo,2022-02-23 03:30:15+00:00,"[bgmi, dynamogaming, alphaclasher, hydrabts, h...",24,0 days 00:13:58,91677,24724,437,"[https://en.wikipedia.org/wiki/Food, https://e...",0,0,...,0,0,0,0,0,1,0,0,bgmi dynamogaming alphaclasher hydrabts hydraa...,gaming
PC_pAgJopIA,2021-08-27 14:00:45+00:00,"[polymars, game dev challenge, $1000, best gam...",28,0 days 00:15:04,546503,16851,728,[https://en.wikipedia.org/wiki/Video_game_cult...,0,0,...,0,0,0,0,0,0,1,0,polymars game dev challenge $1000 best game wi...,general programming
isAFtqGHz6Y,2019-03-16 01:10:24+00:00,"[python telugu tutorial, python telugu, python...",27,0 days 00:27:07,670671,15805,1951,[https://en.wikipedia.org/wiki/Knowledge],0,0,...,0,0,0,0,0,0,0,0,python telugu tutorial python telugu python tu...,python tutorial
I2wURDqiXdM,2018-07-07 02:16:12+00:00,"[howCode, how, code, howcode.org, howco.de, py...",27,0 days 00:06:41,610607,25114,871,[https://en.wikipedia.org/wiki/Knowledge],0,0,...,0,0,0,0,0,0,0,0,howCode how code howcode.org howco.de python l...,python tutorial
qzyVMhAW9FQ,2021-08-21 10:48:05+00:00,"[simplified learner, python]",27,0 days 00:01:00,1076470,84993,782,[https://en.wikipedia.org/wiki/Knowledge],0,0,...,0,0,0,0,0,0,0,0,simplified learner python,python tutorial

---

In [124]:
df['topic'].value_counts()

python tutorial                21
python programming in hindi     7
python programming in tamil     7
general programming             5
gaming                          2
Name: topic, dtype: int64

In [125]:
df.groupby('topic')['duration'].sum()

topic
gaming                        0 days 00:23:47
general programming           0 days 08:27:47
python programming in hindi   0 days 20:45:13
python programming in tamil   0 days 14:22:46
python tutorial               3 days 06:04:41
Name: duration, dtype: timedelta64[ns]

In [129]:
df.groupby('topic')['duration'].sum().sort_values(ascending=False)/df['topic'].value_counts()

topic
python tutorial               0 days 03:43:04.809523809
python programming in hindi   0 days 02:57:53.285714285
python programming in tamil   0 days 02:03:15.142857142
general programming              0 days 01:41:33.400000
gaming                           0 days 00:11:53.500000
dtype: timedelta64[ns]

---